.createForm{
    height: 1500px;
    
    display: flex;
    flex-direction: column;


}

.createForm label{
    font-size: 20px;


}
.formCreate{
    display: flex;
    flex-direction: column;

}
.createForm label{
    margin: 10px;

}
.createForm label h2{
    margin-bottom: 10px;
}
.createForm input {
    height: 30px;
    width: 400px;
    padding-left: 10px;
}
.createForm select {
    height: 30px;
    width: 400px;
    padding-left: 10px;

}
.createForm textarea {
    height: 150px;
    width: 400px;
    padding: 10px;

}

.btn6{
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    border: 1px solid white;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}