.section1 {

height: 450px;
display: block;
background-position: center;
background-repeat: no-repeat;
background-image: url('../../images/background.PNG');
padding-top: 8%;
object-fit: contain;
font-size: 0.8rem;
text-align: center;
}


.section1 h1 {

    font-size: 40px;
    color: rgb(134, 73, 54);

}
