.section1 {

height: 350px;
display: block;
border: 1px solid rgb(223, 223, 223);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url('../../images/background.png');
padding-top: 8%;
object-fit: contain;
font-size: 0.8rem;
text-align: center;
}
